* {
	font-family: 'Open Sans';
	color: #ffffff;
	background-color: #777777;
}
.sticky {
	position: -webkit-sticky;
    position: sticky;
    top: 0;
	background-color: #660000;
	padding: 50px;
	font-family: 'Abril Fatface';
	font-size: 48px;
	height:10vw;
	width: 100vw;
	font-style: normal;
    font-weight: 400;
	line-height: 10vh;
	margin: 30px;
}

img {
	margin-top: 8px;
    vertical-align: middle;
    width: 100%;
	border-radius: 6%;
	border: 2px solid #323232;
  }	
	
a:link {
    text-decoration: none;
	color: #ffffff;
}
a:visited {
    text-decoration: none;
	color: #ffffff;
}
a:hover {
    text-decoration: none;
	color: #ff8080;
}
a:active {
	text-decoration: none;
    color: #ff33ff;
}

/*//////////////////////////////////////////////////////////*/
.galeriaklasa {
	flex: 31%;
	max-width: 33%;
	padding: 0 8px;
	

    
}

.container {
	display: flex;
    flex-wrap: wrap;
    padding: 0 8px;

}

@media (max-width: 900px) {
	.galeriaklasa {
		flex: 49%;
		max-width: 46%;
		padding: 0 8px;
		}
}