body {
	background-image: url("nie_kasowac.jpg");
	color: #ffffff;
    font-size: 26px;
    font-family: 'Open Sans';
	padding: 0px;
    
    
	}
h2 {
	font-family: 'Abril Fatface';
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	
}
ul {
    list-style-type: none;
    margin-left: 10vw;
}
p {
   margin-left: 10vw; 
}
a:link {
    text-decoration: none;
	color: #ffffff;
}

a:visited {
    text-decoration: none;
	color: #ffffff;
}

a:hover {
    text-decoration: none;
	color: #ff00ff;
}

a:active {
	text-decoration: none;
    color: #ffffff;
}
a {
    margin-left: 10vw;
}