* {
	background-color: #e7f7ff;
	font-family: 'Open Sans';
	padding: 0px;
}

.header {
	grid-area: header;
	width: 90vw;
	height: 10px;
	text-align: right;
	position: absolute;
	padding: 30px;
	display: inline;
	
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #660000;
	padding: 50px;
	font-family: 'Abril Fatface';
	font-size: 48px;
	height:10vw;
	width: 100vw;
	font-style: normal;
	font-weight: 400;
	line-height: 10vh;
	margin: 30px;
	color: #ffffff;
}
h1 {
	font-family: 'Abril Fatface';
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	
}
.e1{
	font-family: 'Open Sans';
	font-size: 16px;
	padding: 20px;
}

.a1 {
	grid-area: a1;
	height: 20vh;
	width: 50vw;
	font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
	font-size: 96px;
	margin-left: 10vw;
	padding: 64px;
	
	
}
.a2 {
	grid-area: a2;
	height: 49vh;
	width: 40vw;
	font-size: 20px;
	padding: 10px;
	margin-right: 30px;
	margin-left: 50px;
	text-indent: 50px;
	text-align: justify;

	
}
.a3 {
	grid-area: a3;
	height: 50vh;
	width: 40vw;
	background-image: url("nie_kasowac1.jpg") repeat-x 0 0 #0099FF;
	

	
}

.pustydiv{
	grid-area: pusty;
	height: auto;
	width: 25vh;
}

.c1 {
	grid-area: c1;
	height: 500px;
	width: 500px;
	background-color: rgb(181, 181, 181);
	margin: 3%;
	right: 0;
	position: relative;
	background-image: url("nie_kasowac1.jpg");
	border-radius: 100%;
	animation-name: ani1;
	animation-duration: 1300ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	
}
li {
	list-style: none;
	display: inline;
	margin: 50px;
	text-align: center;
}
a:link {
    text-decoration: none;
	color: #000000;
}

a:visited {
    text-decoration: none;
	color: #000000;
}

a:hover {
    text-decoration: none;
	color: #ff00ff;
}

a:active {
	text-decoration: none;
    color: #ffffff;
}
.sticky:link {
    text-decoration: none;
	color: #ffffff;
}

.sticky:visited {
    text-decoration: none;
	color: #ffffff;
}

.sticky:hover {
    text-decoration: none;
	color:#ff8080;
}

.sticky:active {
	text-decoration: none;
    color: #ff00ff;
}
footer {
	grid-area: footer;
	text-align: center;
	font-size: 8px;
	color: #ffffff;
	background-color: #d4e2ea;
	position: absolute;
	width: 100%;
	right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
	margin-top: -200px;
}
.polityka {
	margin-left: 20vw;
	font-size: 16px;
}
.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	row-gap: 0px;
	column-gap: 10px;
	grid-template-areas:
	"header header"
	"a1 c1"
	"a2 c1"
	/*"c1 a3"
	"footer footer"*/
;
}


@keyframes ani1 {
  0%{
    transform: translate3d(500px, -410px, 0);
  }
  100%{
    transform: translate3d(0, 90px, 0);
  }
}
@media (max-width: 900px) { 
	.c1 {
		display: none;
	}
	footer {
		display: none;
	}
	.header{
		padding: 10px;
		display:table-column;

	}


}
